/* HTML GLOBAL STYLES */
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

/* HEADINGS */
.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* CONTAINERS */

.container-fluid {
    padding: 7% 15%;
}

/* SECTIONS */
.colored-section {
    background-color: #ff4c88;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* HEADER SECTION */
#header {
    min-height: 100vh;
    text-align: left;
}

#header .container-fluid {
    padding-top: 3%;
}

/* NAV BAR */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

/* DOWNLOAD BUTTONS */
.download-button {
    margin: 5% 3% 5% 0;
}

/* HEADER IMAGE */
.header-image {
    width: 60%;
    max-width: 300px;

    -webkit-transform: rotate(25deg); /* Safari, Chrome and browsers using the Webkit engine */
    -ms-transform: rotate(25deg); /* Internet Explorer */
    -o-transform: rotate(25deg); /* Opera */
    transform: rotate(25deg);

    position: absolute;
    right: 20%;
}

/* FEATURES SECTION */
#features {
    position: relative;
}

.feature-box {
    padding: 4.5%;
}

.feature-icons {
    color: #ff4c88;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.feature-icons:hover {
    color: #ff4c68;
}

.feature-title {
    font-size: 1.5rem;
}

/* TESTIMONIALS SECTION */
.testimonial-text {
    font-size: 2.5rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin-right: 10px;
}

#press {
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* PRICING SECTION */
#pricing {
    padding: 7%;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* CTA SECTION */
.cta-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* FOOTER SECTION */
#footer .container-fluid {
    padding: 3% 15% 1%;
}

.contact {
    margin-bottom: 15px;
}

.social-icon {
    margin: 0 10px;
}

.social-icon:hover {
    cursor: pointer;
}

/* MEDIA QUERIES */
@media (max-width: 991px) {

    .big-heading {
        font-size: 3rem;
    }
    
    .section-heading,
    .price-text,
    .cta-heading {
        font-size: 2.5rem;
    }

    #header {
        text-align: center;
    }

    .navbar {
        padding-bottom: 3rem;
    }

    .download-button {
        margin-bottom: 1%;
    }

    .header-image {
        padding-top: 10%;
        position: static;

        -webkit-transform: rotate(25deg); /* Safari, Chrome and browsers using the Webkit engine */
        -ms-transform: rotate(25deg); /* Internet Explorer */
        -o-transform: rotate(25deg); /* Opera */
        transform: rotate(0);
    }

    .testimonial-text {
        font-size: 2rem;
    }
}